<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RandomAccessFile name="RandomAccessFile" fileName="logs/system.out.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<!-- <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs/system.out.log"
			filePattern="logs/$${date:yyyy-MM}/system.out-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="6" modulate="true"/>
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingRandomAccessFile> -->
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="RandomAccessFile" />
		</Root>
	</Loggers>
</Configuration>